{% extends '::base.html.twig' %}

{% block title %}CORRESPONSALÍA - NUEVA COBERTURA{% endblock %}

{% block titulobanner %}
    NUEVA COBERTURA
{% endblock %}

{% block titulomodulo %}
    <h1>NUEVA COBERTURA</h1><h2></h2>
{% endblock %}
    
{% block body -%}
    {{parent()}}

    {% if form_errors(form.descripcion) %}
    <div class="alert alert-danger errores" style="width:70%;">
        <div><b>Alerta! Ha ocurrido un error en el formulario:</b><br><br></div>
        <div>{{ form_errors(form.descripcion) }}</div>
    </div>
    {% endif %}
    
    
    <form novalidate method="post" action="{{ path('cobertura_create',{'idperiodo':idperiodo}) }}">
        {{ form_widget(form._token) }}
        <div class="formShow" style="width:70%;">
            <div class="contenedorform">
                <div class="labelform">Dqescripcion:</div>
                <div class="widgetform">{{ form_widget(form.descripcion) }}</div>
            </div>
        </div>
        <input type="submit" value="CREAR" class="btn btn-primary"> | 
        <a class="btn btn-default" href="{{ path('cobertura',{'idperiodo':idperiodo}) }}">IR AL LISTADO</a>
    </form>
    

{% endblock %}
