{% extends '::base.html.twig' %}

{% block titulomodulo %}<h1>LISTADO DE EQUIPO</h1>{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(function() {
            jQuery( ".datepicker" ).datepicker();
        });
    </script>
    <script type="text/javascript" src="{{ asset('bundles/corresponsalia/Tecnologia/js/Jdatepicker.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/corresponsalia/Tecnologia/css/tecno_general.css') }}"/>
    <style>
        .prestamo {
            font-size: 10px;
            min-width: 80px;
        }
        td.sorting_1{
            background-color: transparent !important;
        }
        .bs-callout-info {
            border-left-color: #5bc0de !important;
        }
        .bs-callout {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            border-color: #eee;
            border-image: none;
            border-radius: 3px;
            border-style: solid;
            border-width: 1px 1px 1px 5px;
            margin: 20px 0;
            padding: 20px;
        }
        #Cargando{
            display: none;
        }
    </style>
{% endblock %}


{% block body -%}
    {{ parent() }}
    
    <div id="flag">
        {% for type, flashMessage in app.session.flashbag.all() %}
            <div class="alert alert-{{ type }} fade in">
                <button class="close" data-dismiss="alert" type="button">×</button>
                {% if flashMessage.title is defined %}
                <strong>{{ flashMessage.title }}</strong>
                {{ flashMessage.message }}
                {% else %}
                {{ type }}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    
    <table id="tablalista" class="table table-bordered table-condensed" style="width: 98.7%;">
        <thead>
            <tr>
                <th style="width: 11%;">Categoria</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Serial</th>
                <th style="width: 17%;">Descripción</th>
                <th style="width: 60px;">Status</th>
                <th>Corresponsalia</th>
                <th style="width: 13%;">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in listEquipo %}
            <tr id="entity{{ entity.id }}">
                <td>{{ entity.categoria }}</td>
                <td>{{ entity.modelo.marca }}</td>
                <td>{{ entity.modelo }}</td>
                <td>
                    {% if entity|length > 9 %}
                        {{ entity.serialEquipo|capitalize }}
                    {% endif %}
                </td>
                <td>{{ entity.descripcion }}</td>
                <td class="centrar">
                    {% if entity.status %}
                        <span class="label label-success">&nbsp;Activo&nbsp;&nbsp;</span>
                    {% else %}
                        <span class="label label-danger">Inactivo</span>
                    {% endif %}
                </td>
                <td>{% if entity|length > 9 %}{{ entity.corresponsalia.nombre }}{% endif %}</td>
                <td id="acciones{{ entity.id }}">
                    <a href="{{ path('tecnoequipo_show', { 'id': entity.id }) }}"><b class="glyphicon glyphicon-eye-open"></b></a>
                    <a href="{{ path('tecnoequipo_edit', { 'id': entity.id }) }}"><b class="glyphicon glyphicon-edit"></b></a> |
                    {% if entity.status %}
                        {% if entity|length > 9 %}
                            {% if entity.statusAsignacion|lower == "prestamo" or entity.statusAsignacion|lower == "cobertura" %}
                            <button id="retorno{{ entity.id }}" type="button" class="btn btn-default btn-xs etiqueta prestamo" data-id="{{entity.id}}" data-toggle="modal" data-target="#myModal">RETORNO</button>
                            <!--<a href=""><span class="label label-primary etiqueta prestamo" data-id="{#--entity.id--#}" data-toggle="modal" data-target="#myModal">&nbsp;PRESTAMO&nbsp;</span></a>-->
                            {% else %}
                                <!--<a href="{#{ path('tecnoasignar_reasignar', {'id':entity.id}) }#}"><span class="label label-primary etiqueta">REASIGNAR</span></a>-->
                                <a href="{{ path('tecnoasignar_reasignar', {'id':entity.id}) }}"><span class="btn btn-default btn-xs etiqueta prestamo">REASIGNAR</span></a>
                            {% endif %}
                        {% else %}
                            <!--<a href="{#{-- path('tecnoasignar_new', {'id':entity.id}) }--#}"><span class="label label-primary etiqueta">&nbsp;&nbsp;ASIGNAR&nbsp;&nbsp;&nbsp;</span></a>-->
                                <a href="{{ path('tecnoasignar_new', {'id':entity.id}) }}"><span class="btn btn-default btn-xs etiqueta prestamo">ASIGNAR</span></a>
                        {% endif %}
                    {% endif %}
                 </td> 
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </br></br><a class="btn btn-primary" href="{{ path('tecnoequipo_new') }}">NUEVO EQUIPO</a></br></br>
    
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">RETORNO DE EQUIPO</h4>
          </div>
          <div class="modal-body">
            <form id="form_fecha" class="form-horizontal" role="form">
            <div class="form-group">
              <label for="fechaRetorno" class="col-sm-4 control-label">Fecha Retorno:</label>
                <div class="col-sm-6">
                  <input name="fechaRetorno" type="date" class="form-control datepicker" id="fechaRetorno">
                </div>
            </div>
            <input type="hidden" id="select_equipo_id" name="select_equipo_id" />
            </form>
                <div class="bs-callout bs-callout-info" id="cargando">
                    <p class="text-info">Cargando...</p><img src="{{ asset('bundles/corresponsalia/Tecnologia/images/cargando.gif') }}" class="img-responsive" alt="Responsive image">
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">CERRAR</button>
            <button type="button" class="btn btn-primary" id="guardar"/>GUARDAR</button>
          </div>
        </div>
      </div>
    </div>


    <script>
    var jQuery = jQuery.noConflict();
    jQuery(document).ready(function(){
        
        jQuery('.prestamo').on('mouseover', function() {
            var id = jQuery(this).data('id');
            jQuery("#select_equipo_id").val(id);
        });

        jQuery("#guardar").click(function(){
            var datos = {
                fecha: jQuery("#fechaRetorno").val(),
                id: jQuery("#select_equipo_id").val()
            };
            var indicador = {
                color: ''
            };
            var flags;
            jQuery.ajax({
                type: 'post',
                url: '{{ path("tecnoequipo_fretorno") }}',
                data: datos,
                dataType: "html",
                beforeSend: function(){
                    jQuery('#cargando').css('display', 'block');
                },
                success: function(data, textStatus) {
                    jQuery('#cargando').css('display', 'none');
                    flags = flagsBag(textStatus, ' Proceso Exitoso..! ', data);
                    indicador.color = null;
                },
                error: function( jqXHR, textStatus, errorThrown){
                    jQuery('#cargando').css('display', 'none');
                    var $error = 'Lo sentimos '+textStatus+' '+errorThrown+'..!';
                    flags = flagsBag('danger', $error, ' Contacte a la Unidad de Aplicaciones y Desarrollo');
                    indicador.color = '#DF6161';
                },
                complete: function( ){
                   jQuery("#retorno"+datos.id).remove();
                   jQuery('#myModal').modal('hide');
                    var strings = '{{ path('tecnoasignar_new', {'id': '1'}) }}';
                    strings = strings.replace("1", datos.id);
                    var boton = "<a id='dinamic"+datos.id+"' href='"+strings+"'>"
                                +"<span class='btn btn-default btn-xs etiqueta prestamo'>ASIGNAR</span>"
                                +"</a>";
                    jQuery(boton).appendTo("#acciones"+datos.id);
                    jQuery("#flag").html(flags);
                    jQuery( "tr#entity"+datos.id ).effect( 'highlight', indicador, 3500, callback );
                }
            });
            
             // callback function to bring a hidden box back
                function flagsBag(status, resaltado, mensaje) {
                    var $flag = "<div class='alert alert-"+status+" fade in'>"
                                + "<button class='close' type='button' data-dismiss='alert'>×</button>"
                                + "<strong>"+resaltado+"</strong>"+mensaje
                                + "</div>";
                        return $flag;
                };
                
                

                // callback function to bring a hidden box back
                function callback() {
                    setTimeout(function() {
                    jQuery( "#effect" ).removeAttr( "style" ).hide().fadeIn();
                    }, 1000 );
                };

        });
        
        jQuery('#tablalista').dataTable( { //CONVERTIMOS NUESTRO LISTADO DE LA FORMA DEL JQUERY.DATATABLES- PASAMOS EL ID DE LA TABLA
             "sPaginationType": "full_numbers", //DAMOS FORMATO A LA PAGINACION(NUMEROS)
             "aaSorting": [[3,'desc']]
         } );

    });
    </script>
    {% endblock %}
