{% extends '::base.html.twig' %}

{% block titulomodulo %}  
    <h1>NUEVO EQUIPO</h1>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(function(){
            jQuery("#tecnologia_equipo_marca").change(function(){
                var data = {
                    marca_id: jQuery(this).val()
                };

                jQuery.ajax({
                    type: 'post',
                    url: '{{ path("tecnoequipo_select") }}',
                    data: data,
                    success: function(data) {
                        var $modelo_selector = jQuery('#tecnologia_equipo_modelo');
                         $modelo_selector.html('<option>Selecciona</option>');
                        for(var i in data){
                            $modelo_selector.append('<option value="' + data[i].id + '">' + data[i].nombre + '</option>');
                        }
                    }
                });
            });
        });
        
        jQuery(function() {
            jQuery( ".datepicker" ).datepicker({
                showOn: "button",
                buttonImage: "{{ asset('images/calendario/calendar.gif') }}",
                buttonImageOnly: true
            });
        });
    </script>
    <script type="text/javascript" src="{{ asset('js/Tecnologia/new_equipo.js') }}"></script>
{% endblock %}
    
{% block body -%}
    {{ parent() }}

    {% if form_errors(form.serialEquipo)%}
    <div class="alert alert-danger errores" style="width:70%;">
        <div><b>Alerta! Ha ocurrido un error en el formulario:</b><br><br></div>
        <div>{{ form_errors(form.serialEquipo) }}</div>
    </div>
    {% endif %}

    <form novalidate method="post" action="{{ path('tecnoequipo_create') }}">
        {{ form_widget(form._token) }}
        <div id="wrapper-form" class="formShow" style="width:70%;">
            <div class="contenedorform">
                <div class="labelform">Categoria:</div>
                <div class="widgetform">{{ form_widget(form.categoria) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Marca:</div>
                <div class="widgetform">{{ form_widget(form.marca) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Modelo:</div>
                <div class="widgetform">{{ form_widget(form.modelo) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">serial Equipo:</div>
                <div class="widgetform">{{ form_widget(form.serialEquipo) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">descripcion:</div>
                <div class="widgetform">{{ form_widget(form.descripcion) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Fecha Adquisicion:</div>
                <div class="widgetform">{{ form_widget(form.fechaAdquisicion, { 'attr': {'class': 'datepicker'} }) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Condicion:</div>
                <div class="widgetform">{{ form_widget(form.condicion) }}</div>
            </div>
        </div>
        
        <input type="submit" value="GUARDAR" class="btn btn-primary"> | 
        <a class="btn btn-default" href="{{ path('tecnoequipo') }}">IR AL LISTADO</a>
    </form>
{% endblock %}

