{% extends '::base.html.twig' %}

{% block titulomodulo %}  
    <h1>NUEVO EQUIPO</h1>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/corresponsalia/Tecnologia/css/equipo.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/corresponsalia/Tecnologia/libs/select2/select2.css') }}"/>
    <style type="text/css">
        .select2-container .select2-choice > .select2-chosen {
            min-width: 200px !important;
        }

        
    </style>
{% endblock %}  

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(function(){
            jQuery("#tecnologia_equipo_marca").change(function(){
                var data = {
                    marca_id: jQuery(this).val()
                };
                var $modelo_selector = jQuery('#tecnologia_equipo_modelo');
                $modelo_selector.empty();
                jQuery('#select2-chosen-3').text('Seleccione');
                jQuery.ajax({
                    type: 'post',
                    url: '{{ path("tecnoequipo_select") }}',
                    data: data,
                    success: function(data) {
                         $modelo_selector.html('<option value="">Seleccione</option>');
                        for(var i in data){
                            $modelo_selector.append('<option value="' + data[i].id + '">' + data[i].nombre + '</option>');
                        }
                    }
                });
            });
        });
        
        jQuery(function() {
            jQuery( ".datepicker" ).datepicker({
                showOn: "button",
                buttonImage: "{{ asset('images/calendario/calendar.png') }}",
                buttonImageOnly: true
            });
        });
    </script>
    <script type="text/javascript" src="{{ asset('bundles/corresponsalia/Tecnologia/js/Jdatepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/corresponsalia/Tecnologia/js/equipo_new.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/corresponsalia/Tecnologia/js/effects.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/corresponsalia/Tecnologia/libs/select2/select2.min.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() { jQuery(".autocomplete_select").select2(); });
    </script>
{% endblock %}
    
{% block body -%}
    {{ parent() }}

    {% for type, flashMessage in app.session.flashbag.all() %}
        <div class="alert alert-{{ type }} fade in">
            <button class="close" data-dismiss="alert" type="button">×</button>
            {% if flashMessage.title is defined %}
            <strong>{{ flashMessage.title }}</strong>
            {{ flashMessage.message }}
            {% else %}
            {{ type }}
            {% endif %}
        </div>
    {% endfor %}
    
    {% set role = is_granted('ROLE_TECNO_CORRESPONSALIA') %}
    {% if form_errors(form.categoria) or form_errors(form.marca) or form_errors(form.modelo) or form_errors(form.serialEquipo) or form_errors(form.descripcion) or form_errors(form.fechaAdquisicion) or form_errors(form.condicion) or (role and error_responsable == false) %}
    <div class="alert alert-danger errores" style="width:70%;">
        <div><b>Alerta! Ha ocurrido un error en el formulario:</b><br><br></div>
        <div>{{ form_errors(form.categoria) }}</div>
        <div>{{ form_errors(form.marca) }}</div>
        <div>{{ form_errors(form.modelo) }}</div>
        <div>{{ form_errors(form.serialEquipo) }}</div>
        <div>{{ form_errors(form.descripcion) }}</div>
        <div>{{ form_errors(form.fechaAdquisicion) }}</div>
        <div>{{ form_errors(form.condicion) }}</div>
        {% if role %}
            {% if error_responsable == false %}
                <div><ul><li>Debe agregar el responsable del equipo.</li></ul></div>
            {% endif %}
        {% endif %}
    </div>
    {% endif %}

    <form novalidate method="POST" action="{{ path('tecnoequipo_create') }}">
        {{ form_widget(form._token) }}
        <div id="wrapper-form" class="formShow" style="width:70%;">
            <div class="contenedorform">
                <div class="labelform">Categoria:</div>
                <div class="widgetform">{{ form_widget(form.categoria, {'attr': {'class': 'autocomplete_select'} }) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Marca:</div>
                <div class="widgetform">{{ form_widget(form.marca, {'attr': {'class': 'autocomplete_select'} }) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Modelo:</div>
                <div class="widgetform">{{ form_widget(form.modelo, {'attr': {'class': 'autocomplete_select'} }) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Serial:</div>
                <div class="widgetform">{{ form_widget(form.serialEquipo, {'attr': {'class': 'strtoupper'} }) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Descripcion:</div>
                <div class="widgetform">{{ form_widget(form.descripcion, {'attr': {'class': 'strtoupper'} }) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Fecha Adquisicion:</div>
                <div class="widgetform">{{ form_widget(form.fechaAdquisicion, { 'attr': {'class': 'datepicker'} }) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Condicion:</div>
                <div class="widgetform">{{ form_widget(form.condicion, {'attr': {'class': 'autocomplete_select'} }) }}</div>
            </div>
            {% if role %}
                <div class="contenedorform">
                    <div class="labelform">Responsable:</div>
                    <div class="widgetform">
                        <input id="tecnologia_asignacion_responsable" type="text" required="required" name="responsable">
                    </div>
                </div>
            {% endif %}
        </div>
        
        <input type="submit" value="GUARDAR" class="btn btn-primary"> | 
        <a class="btn btn-default" href="{{ path('tecnoequipo') }}">IR AL LISTADO</a>
    </form>
{% endblock %}

