<div align="left">
<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ path('corresponsalia_tasacambio') }}">Inicio</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">USUARIOS<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{{ path('user') }}">Listado de usuarios</a></li>
          <li><a href="{{ path('user_new') }}">Nuevo usuario</a></li>
          <li class="divider"></li>
          <li><a href="{{ path('rol') }}">Listado de roles</a></li>
          <li><a href="{{ path('rol_new') }}">Nuevo rol</a></li>
          <li class="divider"></li>
          <li><a href="{{ path('usercorresponsalia') }}">Listado Usuario-Corresponsalía</a></li>
          <li><a href="{{ path('usercorresponsalia_new') }}">Nueva relación usuario-Corresponsalía</a></li>
        </ul>
      </li>
      
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ADMINISTRAR <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{{ path('tipomoneda') }}">Tipo de Moneda</a></li>
          <li><a href="{{ path('tipocorresponsalia') }}">Tipo de Corresponsalía</a></li>
          <li><a href="{{ path('corresponsalia') }}">Corresponsalia</a></li>
          <li class="divider"></li>
          <li><a href="{{ path('estadofondo') }}">Listado de fondos</a></li>
          <li><a href="{{ path('estadofondo_aniomes') }}">Asignar fondo</a></li>
        </ul>
      </li>
      
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">CORRESPONSALÍA <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{{ path('corresponsalia_tasacambio') }}">Tasa de cambio</a></li>
          <li class="divider"></li>
          <li><a href="{{ path('corresponsalia_inicio') }}">Rendir gastos</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">REPORTES <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{{ path('corresponsalia_tasacambio') }}">Rendicion</a></li>
        </ul>
      </li>
      <li><a href="#">ADMINISTRAR</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ path('usuario_logout') }}">SALIR</a></li>
      
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
</div>