<!-- Modal -->
<div class="modal fade" id="{{ periodo.tipogasto.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 1250px;">
    <div class="modal-content" style="width: 1250px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{ periodo.tipogasto.descripcion|upper }}</h4>
      </div>
      <div class="modal-body">
          
            <table id="tablalista1" style="width: 1200px;">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nro</th>
                            <th>F. Factura</th>
                            <th>Descripcion</th>
                            <th>Nombre/Razón</th>
                            <th>I. Fiscal</th>
                            <th>Nro Fact.</th>
                            <th>Moneda</th>
                            <th>Tasa</th>
                            <th>Monto MN.</th>
                            <th>Dólares.</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in rendicionlista %}
                            <tr {% if entity.aprobada==false %} style="background-color: yellow;"{% endif %}>
                                <td>{{ entity.id }}</td>
                                <td>{{ entity.numerocomprobante }}</td>
                                <td>{{ entity.fechafactura|date('d-m-Y') }}</td>
                                <td><span style="cursor:pointer;" title="{{ entity.descripciongasto.descripcion}}">{{ entity.descripciongasto.descripcion|slice(0, 15) }}...</span></td>
                                <td><span style="cursor:pointer;" title="{{ entity.nombrerazonsocial}}">{{ entity.nombrerazonsocial|slice(0, 15) }}...</span></td>
                                <td>{{ entity.identificacionfiscal }}</td>
                                <td>{{ entity.numerofactura }}</td>
                                <td>{{ entity.tipomoneda.tipomoneda|upper }}</td>
                                <td>{{ entity.cambio }}</td>
                                <td>{{ entity.montomonnac }}</td>
                                <td>{{ entity.montodolar }}</td>
                                <td><a href="{{ path('corresponsalia_editarendicion',{'idperiodo':periodo.id,'idrendicion':entity.id }) }}">Editar</a></td>
                            </tr>
                    {% endfor %}

                    </tbody>
                </table>    
                <script>    
                  $(document).ready(function(){
                     $('#tablalista1').dataTable( { //CONVERTIMOS NUESTRO LISTADO DE LA FORMA DEL JQUERY.DATATABLES- PASAMOS EL ID DE LA TABLA
                          "sPaginationType": "full_numbers", //DAMOS FORMATO A LA PAGINACION(NUMEROS)
                          "aaSorting": [[0,'desc']],
                      } );
                  })
               </script>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">VOLVER</button>&nbsp;&nbsp;
          <a href="{{ path('reporte_excelrendicion',{'idperiodo':periodo.id}) }}"><img width="50px;" src="{{ asset('images/excel.png') }}"></a>
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




