
<table class="relaciongasto" border="1">
        <tr>
            <th>Descripción</th>
            <td>{{ form_widget(form.descripciongasto) }}</td>
            <th>Nro. Comprobante</th>
            <td>{{ form_widget(form.numerocomprobante) }}</td>
            <th>Fecha Factura</th>
            <td>{{ form_widget(form.fechafactura, {'attr':{'readonly':'readonly'}}) }}</td>
        </tr>
        <tr>
            <th>Cambio</th>
            <td><input type="text" value="{{ cambio.montocambiodolar }}" id="cambio" name="rendicion_relaciongasto[cambio]" readonly="readonly"></td>
            <th>Nombre/Razón</th>
            <td>{{ form_widget(form.nombrerazonsocial) }}</td>
            <th>Identif. fiscal</th>
            <td>{{ form_widget(form.identificacionfiscal, {'attr':{'value':'N/A'}}) }}</td>
        </tr>
        <tr>
            <th>Nro. factura</th>
            <td>{{ form_widget(form.numerofactura, {'attr':{'value':'N/A'}}) }}</td>
            <th>Monto MN.</th>
            <td>{{ form_widget(form.montomonnac) }}</td>
            <th>Dólares</th>
            <td>{{ form_widget(form.montodolar) }}</td>
        </tr>
    </table>
