{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{ asset('bundles/corresponsalia/css/formrendicion.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
          
{% block titulomodulo %}  
    <h2>EDITAR {{ periodo.tipogasto.descripcion|upper }}</h2>
    {% if periodo.descripcionperiodo!='' %}<h4><b>DESCRIPCIÓN: '{{ periodo.descripcionperiodo|upper }}'</b></h4>{% endif %}
    <h4>CORRESPONSALÍA: {{ periodo.corresponsalia.nombre|upper }}</h4>
    <h4>PAÍS: {{ periodo.corresponsalia.pais.pais|upper }} | AÑO: {{ periodo.anio }} | MES: {{ periodo.mes }} | MONEDA: {{ cambio.tipomoneda.tipomoneda|upper }} | CAMBIO: {{ cambio.montocambiodolar }}</h4><br>
{% endblock %}
    
{% block body %}
    {{ parent()}}
    
    {% if form_errors(form.descripciongasto) or form_errors(form.numerocomprobante)  or form_errors(form.fechafactura) or form_errors(form.nombrerazonsocial) or form_errors(form.identificacionfiscal) or form_errors(form.numerofactura) or form_errors(form.montomonnac) or form_errors(form.montodolar)%}
    <div class="alert alert-danger errores">
        <div><b>Alerta! Ha ocurrido un error en el formulario:</b><br><br></div>
        <div>{{ form_errors(form.descripciongasto) }}</div>
        <div>{{ form_errors(form.numerocomprobante) }}</div>
        <div>{{ form_errors(form.fechafactura) }}</div>
        <div>{{ form_errors(form.nombrerazonsocial) }}</div>
        <div>{{ form_errors(form.identificacionfiscal) }}</div>
        <div>{{ form_errors(form.numerofactura) }}</div>
        <div>{{ form_errors(form.montomonnac) }}</div>
        <div>{{ form_errors(form.montodolar) }}</div>
    </div>
    {% endif %}

    {% include 'CorresponsaliaBundle:Default:_estatusfondo.html.twig' %}
    
    {% if rendicion.aprobada==false %}<div class="alert alert-danger"><b>JUSTIFICACIÓN DE LA DEVOLUCIÓN</b><br>{{ rendicion.justificadevolucion }}</div>{% endif %}

    <form novalidate method="post" action="{{ path('tipocorresponsalia_actualizarendicion',{'idrendicion':rendicion.id,'idperiodo':periodo.id}) }}">  
        <input type="hidden" name="_method" value="PUT"> {{ form_widget(form._token) }}
        {% include 'CorresponsaliaBundle:Default:_tablarendicion.html.twig' %}
        <br><br><input type="submit" value="EDITAR" class="btn btn-warning">
        <button class="btn btn-info" data-toggle="modal" data-target="#{{periodo.tipogasto.id}}">VER LISTADO DE RENDICION</button> 
        
        <a class="btn btn-default" href="{{ path('corresponsalia_rendirgasto',{'idperiodo':periodo.id}) }}">VOLVER</a>
  
        
        <input type="hidden" value="{{ periodo.id }}" name="rendicion_relaciongasto[periodorendicion]">
        <input type="hidden" value="{{ cambio.montocambiodolar }}" id="cambio" name="rendicion_relaciongasto[cambio]">
        
    </form>
        <input type="hidden" value="{{ cambio.montocambiodolar }}" id="cambio">
    
        {% include 'CorresponsaliaBundle:Default:_listadorendicion.html.twig' %}  

        <BR>
        {{ form_start(delete_form, { 'attr': {'onsubmit': 'return confirm("¿Seguro que deseas eliminar?")'} }) }}
            {{ form_errors(delete_form) }}
            {{ form_row(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
        {{ form_end(delete_form) }}   
        
        
    <script type="text/javascript">
        $(document).ready(function () {
            $('#rendicion_relaciongasto_montomonnac').blur(function(){
                montocambiomn()
            });
            function montocambiomn(){
                    var montomonnac=$('#rendicion_relaciongasto_montomonnac').val();
                    montomonnac = montomonnac.replace(",", ".");
                    var cambio=$('#cambio').val();
                    var montofinal=montomonnac/cambio;
                    montofinal = montofinal.toFixed(2);
                    $('#rendicion_relaciongasto_montodolar').val(montofinal);
            }
         });
    </script>
    
  <script>
  $(function() {
    $( "#rendicion_relaciongasto_fechafactura" ).datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: "dd-mm-yy",
    });
  });
  </script>

{% endblock %}
