{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{ asset('bundles/corresponsalia/css/formrendicion.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
            
{% block body %}
    {{ parent()}}

    <h2>RENDICIÓN DE GASTOS MES DE ENERO</h2><br>

    <table border="1" class="estatusfondo">
        <tr>
            <th colspan="6">ESTATUS DEL FONDO ENVIADO</th>
        </tr>
        <tr>
            <th>Descripción</th>
            <th>Monto</th>
            <th>Moneda nacional</th>
            <th>Monto</th>
            <th>USD $</th>
            <th>Bs.</th>
        </tr>
        <tr>
            <td>Saldo inicial</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Recursos recibidos</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Pagos efectuados</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Saldo final</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
        </tr>
    </table>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li><a href="#home" data-toggle="tab">TUTORIAL</a></li>
      <li><a href="#gasto1" data-toggle="tab">Gastos de funcionamiento</a></li>
      <li><a href="#gasto2" data-toggle="tab">Cobertura programada</a></li>
      <li><a href="#gasto3" data-toggle="tab">Honorarios profesionales</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade" id="home">
            <div class="inicio">
                El formulario de rendición de gastos se divide en tres pestañas ubicadas en la parte superior denominadas "Gastos de funcionamiento", "Cobertura programada" y "Honorarios profesionales".
                
                <br><br>
                
                <b>Para realizar la rendición puede seguir los siguientes pasos:</b>
                
                <br><br>
                
                <b>1.</b> Seleccionar cuaquiera de los tres tipos de rendiciones ubicadas en el menú de la parte superior.<br>
                <b>2.</b> Seleccionar la descripcion correspondiente al tipo de gasto.<br>
                <b>3.</b> Una vez culminada la rendición el usuario debe presionar el boton culminar, una vez hecho esto la información será enviada a la sede principal de Telesu para su respectiva aprobación.<br>
                <b>4.</b> En caso de no ser aprobada, la rendición será devuelta al usuario para su corrección.<br>
                
            </div>
        </div>
        <div class="tab-pane fade in active" id="gasto1">
            <br><h4>GASTOS DE FUNCIONAMIENTO</h4><br>
            
            <table class="relaciongasto" border="1">
                <tr>
                    <th>Nro. Comprobante</th>
                    <th>Fecha Factura</th>
                    <th>Imputación</th>
                    <th>Descripción</th>
                    <th>Nombre/Razón</th>
                    <th>Identif. fiscal</th>
                    <th>Nro. factura</th>
                    <th>Monto</th>
                    <th>Dólares</th>
                    
                </tr>
                <tr>
                    <td>{{ form_widget(form.numerocomprobante) }}</td>
                    <td>{{ form_widget(form.fechafactura) }}</td>
                    <td></td>
                    <td>{{ form_widget(form.descripcion) }}</td>
                    <td>{{ form_widget(form.nombrerazonsocial) }}</td>
                    <td>{{ form_widget(form.identificacionfiscal) }}</td>
                    <td>{{ form_widget(form.numerofactura) }}</td>
                    <td>{{ form_widget(form.montomonnac) }}</td>
                    <td>{{ form_widget(form.montodolar) }}</td>
                    
                </tr>                
                
                
            </table>
            
        </div>
        <div class="tab-pane fade" id="gasto2">
            <br><h4>COBERTURA PROGRAMADA</h4><br>
        </div>
        <div class="tab-pane fade" id="gasto3">
            <br><h4>HONORARIOS PROFESIONALES</h4><br>
        </div>
    </div>
{% endblock %}
