{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{ asset('bundles/corresponsalia/css/formrendicion.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
            
{% block body %}
    {{ parent()}}
   
    <h2>RENDICIÓN DE GASTOS MES DE ENERO</h2><br>
    
    {% if form_errors(form.numerocomprobante)  or form_errors(form.fechafactura) or form_errors(form.nombrerazonsocial) or form_errors(form.identificacionfiscal) or form_errors(form.numerofactura) or form_errors(form.montomonnac) or form_errors(form.montodolar)%}
    <div class="alert alert-danger errores">
        <div><b>Alerta! Ha ocurrido un error en el formulario:</b><br><br></div>
        <div>{{ form_errors(form.numerocomprobante) }}</div>
        <div>{{ form_errors(form.fechafactura) }}</div>
        <div>{{ form_errors(form.nombrerazonsocial) }}</div>
        <div>{{ form_errors(form.identificacionfiscal) }}</div>
        <div>{{ form_errors(form.numerofactura) }}</div>
        <div>{{ form_errors(form.montomonnac) }}</div>
        <div>{{ form_errors(form.montodolar) }}</div>
    </div>
    {% endif %}

    <div class="table-responsive">
    <table border="1" class="estatusfondo table table-striped">
        <tr>
            <th colspan="6">ESTATUS DEL FONDO ENVIADO</th>
        </tr>
        <tr>
            <th>Descripción</th>
            <th>Monto</th>
            <th>Moneda nacional</th>
            <th>Monto</th>
            <th>USD $</th>
            <th>Bs.</th>
        </tr>
        <tr>
            <td>Saldo inicial</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Recursos recibidos</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Pagos efectuados</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Saldo final</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
        </tr>
    </table>
    </div>  
        
    <form novalidate method="post" action="{{ path('corresponsalia_guardatemprendicion') }}">  
        {{ form_widget(form._token) }}
        <table class="table" style="width: 900px;">
            <tr>

                <th>{{ form_widget(form.tipogasto.1) }}&nbsp;&nbsp;Gastos de funcionamiento</th>
                <th>{{ form_widget(form.tipogasto.2) }}&nbsp;Cobertura programada</th>
                <th>{{ form_widget(form.tipogasto.3) }}&nbsp;Honorarios profesionales</th>
            </tr>
        </table>


        {% include 'CorresponsaliaBundle:Default:tablarendicion.html.twig' %}

        <br><input id="agregar" type="submit" value="Agregar" class="btn btn-primary"><br><br>
    </form>
    
    <script type="text/javascript">

        $(document).ready(function () {
            $('#rendicion_relaciongasto_tipogasto_1').click(function(){
                ajaxdescripciongasto(1)
            });
            
            $('#rendicion_relaciongasto_tipogasto_2').click(function(){
                ajaxdescripciongasto(2)
            });
            

            $('#rendicion_relaciongasto_tipogasto_3').click(function(){
                ajaxdescripciongasto(3)
            });
            
        });
        
        if($('#rendicion_relaciongasto_tipogasto_1').is(':checked')==true)
            ajaxdescripciongasto(1)
        else if($('#rendicion_relaciongasto_tipogasto_2').is(':checked')==true)
            ajaxdescripciongasto(2)
        else if($('#rendicion_relaciongasto_tipogasto_3').is(':checked')==true)
            ajaxdescripciongasto(3)
        
        function ajaxdescripciongasto(valor){
                var dato = valor;
                var ruta = "{{ path('corresponsalia_ajax_formdescripciongasto', {'idtipo': 'variable1','data': 'variable2'}) }}";
                ruta = ruta.replace("variable1", dato);
                ruta = ruta.replace("variable2", {{ dataselect }});
                $('#descripciongasto').load(ruta);            
        }
    </script>
    
{% endblock %}
