{% extends '::base.html.twig' %}

{% block title %}CORRESPONSALÍA - REVISIÓN RENDICIÓN{% endblock %}

{% block titulobanner %}
    REVISIÓN RENDICIÓN
{% endblock %}

{% block titulomodulo %}
    <h1>REVISIÓN DE RENDICIÓN</h1>
    <h4>{{ periodo.tipogasto.descripcion|upper }} {% if periodo.descripcionperiodo!='' %}('{{ periodo.descripcionperiodo|upper }}')</h4>{% endif %}
    <h4>CORRESPONSALÍA: {{ periodo.corresponsalia.nombre|upper }}</h4>
    <h4>PAÍS: {{ periodo.corresponsalia.pais.pais|upper }} | AÑO: {{ periodo.anio }} | MES: {{ periodo.mes }}</h4><br>
{% endblock %}
    
{% block body %}
    {{ parent()}}
    
    <br><div style="width: 99%;">{% include 'CorresponsaliaBundle:Default:_estatusfondo.html.twig' %}</div>
    
    <form method="post" action="{{ path('corresponsalia_guardarevisionrendicion',{'idperiodo':periodo.id})}}">
        <table id="tablalista" style="width: 99%;">
            <thead>
                <tr>
                    <th>Nro Comp.</th>
                    <th>F. Factura</th>
                    <th>Descripcion</th>
                    <th>Nombre/Razón</th>
                    <th>I. Fiscal</th>
                    <th>Nro Fact.</th>
                    <th>Moneda</th>
                    <th>Cambio</th>
                    <th>Monto MN.</th>
                    <th>Dólares.</th>
                    <th>Acc.</th>
                </tr>
            </thead>
            <tbody>
            {% set oculta=0 %}
            {% for entity in rendicionlista %}
                    <tr {% if entity.aprobada==false %} style="background-color: yellow;"{% endif %}>
                        <td>{{ entity.numerocomprobante }}</td>
                        <td>{{ entity.fechafactura|date('d-m-Y') }}</td>
                        <td>{{ entity.descripciongasto.descripcion }}</td>
                        <td>{{ entity.nombrerazonsocial }}</td>
                        <td>{{ entity.identificacionfiscal }}</td>
                        <td>{{ entity.numerofactura }}</td>
                        <td>{{ entity.tipomoneda.tipomoneda }}</td>
                        <td>{{ entity.cambio }}</td>
                        <td>{{ entity.montomonnac }}</td>
                        <td>{{ entity.montodolar }}</td>
                        
                        <td><input value="{{ entity.id }}" name="rendiciones[{{entity.id}}]" type="checkbox" {% if entity.aprobada==false %}checked="checked"{% endif %}></td>
                    </tr>
                    {% if entity.aprobada==false %}{% set oculta=1 %}{% endif %}
            {% endfor %}

            </tbody>
        </table> 
        <br><br><br><br>
        <input class="btn btn-primary" type="submit" value="GUARDAR RENDICIONES PARA CORRECCIÓN">
    </form>
    
    {% if oculta==0 %}
        <div style="width: 420px;">
        <div style="float: left;">
    {% endif %}

        {% if oculta==1 %}
            <form name="formdevolucion" novalidate method="post" action="{{ path('corresponsalia_estatusrendicion',{'idperiodo':periodo.id,'estatus':3 }) }}" onsubmit="return confirm('¿Está seguro que desea devolver esta rendición para su corrección? Recuerde actualizar las rediciones que se deben corregir antes de devolver la rendición!!');">  
               
               <textarea name="justificadev" placeholder="Describa el error" id="justificadev"></textarea><br>
               <input type="button" onclick="devolver()" value="DEVOLVER PARA CORRECCIÓN" class="btn btn-danger">

            </form> 
        {% endif %}
        
        {% if oculta==0 %}
            </div>
            <div>
                <form novalidate method="post" action="{{ path('corresponsalia_estatusrendicion',{'idperiodo':periodo.id,'estatus':4 }) }}" onsubmit="return confirm('¿Está seguro que desea cerrar esta rendición? Recuerde que no se podrá realizar ningun cambio y todos las rendiciones que no están aprobadas se aprobarán!!')">  
                   <input type="submit" value="CERRAR RENDICIÓN" class="btn btn-success">
                </form> 
            </div>
            </div>
        {% endif %}
    
    
    <br>
    <script>    
      $(document).ready(function(){
         $('#tablalista').dataTable( { //CONVERTIMOS NUESTRO LISTADO DE LA FORMA DEL JQUERY.DATATABLES- PASAMOS EL ID DE LA TABLA
              "sPaginationType": "full_numbers", //DAMOS FORMATO A LA PAGINACION(NUMEROS)
              "aaSorting": [[0,'desc']],
          } );


      })
        function devolver(){
            if($('#justificadev').val()=="") alert("Debe justificar la devolución.")
            else
            document.formdevolucion.submit()

        }
   </script>
{% endblock %}