
<table class="relaciongasto" border="1">
        <tr>
            <th>Descripci贸n</th>

            <td id="descripciongasto">Seleccione un tipo de gasto &nbsp;<b class="glyphicon glyphicon-arrow-up"></b></td>
            <th>Nro. Comprobante</th>
            <td>{{ form_widget(form.numerocomprobante) }}</td>
            <th>Fecha Factura</th>
            <td>{{ form_widget(form.fechafactura) }}</td>
        </tr>
        <tr>
            <th>Imputaci贸n</th>
            <td>{{ form_widget(form.imputacionpresupuestaria) }}</td>
            <th>Nombre/Raz贸n</th>
            <td>{{ form_widget(form.nombrerazonsocial) }}</td>
            <th>Identif. fiscal</th>
            <td>{{ form_widget(form.identificacionfiscal) }}</td>
        </tr>
        <tr>
            <th>Nro. factura</th>
            <td>{{ form_widget(form.numerofactura) }}</td>
            <th>Monto</th>
            <td>{{ form_widget(form.montomonnac) }}</td>
            <th>D贸lares</th>
            <td>{{ form_widget(form.montodolar) }}</td>
        </tr>
    </table>