{% extends '::base.html.twig' %}

{% block titulomodulo %}<h1>TASA DE CAMBIO</h1>{% endblock %}

{% block body %}
 {{ parent() }}
    

<div class="table-responsive" style="width:800px;">
<table class="table" border="1">
    <tr>
        <th>Corresponsalía: </th>
        <td>{{ corresponsalia.nombre|upper }}</td>
    </tr>
    <tr>
        <th>País: </th>
        <td>{{ corresponsalia.pais.pais|upper }}</td>
    </tr>
    <tr>
        <th>Tasa de cambio: </th>
        <td>{{ cambio.montocambiodolar }} &nbsp;&nbsp;&nbsp;<a  class="label label-info" href="{{ path('cambio_new',{'idcor':corresponsalia.id}) }}">Nueva Tasa de Cambio</a></td>
    </tr>
</table>
</div>


{% endblock %}