{% extends '::base.html.twig' %}

{% block title %}CORRESPONSALÍA - PERSONAL{% endblock %}

{% block titulobanner %}
    PERSONAL
{% endblock %}

{% block titulomodulo %}
    <h1>EDITAR PERSONAL</h1>
{% endblock %}
    
{% block body -%}
    {{ parent() }}

    {% if form_errors(edit_form.nombre) or form_errors(edit_form.sueldo) or form_errors(edit_form.pasaporte) or form_errors(edit_form.fechaingreso) or form_errors(edit_form.correo) or form_errors(edit_form.telefono) or form_errors(edit_form.corresponsaliaId) or form_errors(edit_form.cargoId)%}
    <div class="alert alert-danger errores" style="width:70%;">
        <div><b>Alerta! Ha ocurrido un error en el formulario:</b><br><br></div>
        <div>{{ form_errors(edit_form.nombre) }}</div>        
        <div>{{ form_errors(edit_form.sueldo) }}</div>
        <div>{{ form_errors(edit_form.pasaporte) }}</div>
        <div>{{ form_errors(edit_form.fechaingreso) }}</div>
        <div>{{ form_errors(edit_form.correo) }}</div>
        <div>{{ form_errors(edit_form.telefono) }}</div>
        <div>{{ form_errors(edit_form.corresponsaliaId) }}</div>
        <div>{{ form_errors(edit_form.cargoId) }}</div>        
    </div>
    {% endif %}

    <form novalidate method="post" action="{{ path('personal_update',{'id':entity.id}) }}">
         <input type="hidden" name="_method" value="PUT"> {{ form_widget(edit_form._token) }}
        <div class="formShow" style="width:70%;">
            <div class="contenedorform">
                <div class="labelform">nombre:</div>
                <div class="widgetform">{{ form_widget(edit_form.nombre) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">sueldo:</div>
                <div class="widgetform">{{ form_widget(edit_form.sueldo) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">pasaporte:</div>
                <div class="widgetform">{{ form_widget(edit_form.pasaporte) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">fechaingreso:</div>
                <div class="widgetform">
                    {{ form_widget(edit_form.fechaingreso, {'attr':{'class':'fecha'}})}}
                    <script>
                      $(function() {
                        $( ".fecha" ).datepicker({
                          changeMonth: true,
                          changeYear: true,
                          dateFormat: "dd/mm/yy",
                        });
                      });
                    </script>


                </div>
            </div>
            <div class="contenedorform">
                <div class="labelform">correo:</div>
                <div class="widgetform">{{ form_widget(edit_form.correo) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">telefono:</div>
                <div class="widgetform">{{ form_widget(edit_form.telefono) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Corresponsal&iacute;a:</div>
                <div class="widgetform">{{ form_widget(edit_form.corresponsaliaId) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Cargo:</div>
                <div class="widgetform">{{ form_widget(edit_form.cargoId) }}</div>
            </div>
        </div>        
         <input type="submit" value="EDITAR" class="btn btn-primary"> | 
        <a class="btn btn-default" href="{{ path('personal') }}">IR AL LISTADO</a>
    </form>
    <BR>
    {{ form_start(delete_form, { 'attr': {'onsubmit': 'return confirm("¿Seguro que deseas eliminar?")'} }) }}
        {{ form_errors(delete_form) }}
        {{ form_row(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
    {{ form_end(delete_form) }}
{% endblock %}
