{% extends '::base.html.twig' %}

{% block title %}CORRESPONSALÍA - PERSONAL{% endblock %}

{% block titulobanner %}
    PERSONAL
{% endblock %}

{% block titulomodulo %}
    <h1>CREAR PERSONAL</h1>
{% endblock %}
    
{% block body -%}
    {{ parent() }}
    {% if form_errors(form.nombre) or form_errors(form.sueldo) or form_errors(form.pasaporte) or form_errors(form.fechaingreso) or form_errors(form.correo) or form_errors(form.telefono) or form_errors(form.corresponsaliaId) or form_errors(form.cargoId)%}
    <div class="alert alert-danger errores" style="width:70%;">
        <div><b>Alerta! Ha ocurrido un error en el formulario:</b><br><br></div>
        <div>{{ form_errors(form.nombre) }}</div>        
        <div>{{ form_errors(form.sueldo) }}</div>
        <div>{{ form_errors(form.pasaporte) }}</div>
        <div>{{ form_errors(form.fechaingreso) }}</div>
        <div>{{ form_errors(form.correo) }}</div>
        <div>{{ form_errors(form.telefono) }}</div>
        <div>{{ form_errors(form.corresponsaliaId) }}</div>
        <div>{{ form_errors(form.cargoId) }}</div>        
    </div>
    {% endif %}

    <form novalidate="novalidate" action="{{ path('personal_create') }}"method="post" {{ form_enctype(form) }} >
        {{ form_widget(form._token) }}
        <div class="formShow" style="width:70%;">
            <div class="contenedorform">
                <div class="labelform">Nombre:</div>
                <div class="widgetform">{{ form_widget(form.nombre) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Sueldo:</div>
                <div class="widgetform">{{ form_widget(form.sueldo) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Pasaporte:</div>
                <div class="widgetform">{{ form_widget(form.pasaporte) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Fecha de Ingreso (día/mes/año):</div>
                <div class="widgetform">
                    {{ form_widget(form.fechaingreso, {'attr':{'class':'fecha'}})}}
                    <script>
                      $(function() {
                        $( ".fecha" ).datepicker({
                          changeMonth: true,
                          changeYear: true,
                          dateFormat: "dd-mm-yy",
                        });
                      });
                    </script>
                </div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Correo:</div>
                <div class="widgetform">{{ form_widget(form.correo) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Tel&eacute;fono:</div>
                <div class="widgetform">{{ form_widget(form.telefono) }}</div>
            </div>  
            <div class="contenedorform">
                <div class="labelform">Corresponsal&iacute;a:</div>
                <div class="widgetform">{{ form_widget(form.corresponsaliaId) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Cargo:</div>
                <div class="widgetform">{{ form_widget(form.cargoId) }}</div>
            </div>          
        </div>
        <input type="submit" value="CREAR" class="btn btn-primary"> | 
        <a class="btn btn-default" href="{{ path('personal') }}">IR AL LISTADO</a>
    </form>

{% endblock %}
