{% extends '::base.html.twig' %}

{% block body -%}
    {{ parent() }}
    <h1>CORRESPONSALÍA</h1>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
    
    <div class="formShow" style="width:70%;">
        <div class="contenedorform">
            <div class="labelform">Nombre:</div>
            <div class="widgetform">{{ entity.nombre|capitalize }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">País:</div>
            <div class="widgetform">{{ entity.pais|capitalize }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Tipo:</div>
            <div class="widgetform">{{ entity.tipocorresponsalia|capitalize }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Tipo moneda:</div>
            <div class="widgetform">{{ entity.tipomoneda|capitalize }}</div>
        </div>    
    </div>
    
        <a class="btn btn-default" href="{{ path('corresponsalia') }}">IR AL LISTADO</a> | 
        <a class="btn btn-default" href="{{ path('corresponsalia_edit',{'id':entity.id}) }}">IR A EDITAR</a>
        <br><br>
        {{ form_start(delete_form, { 'attr': {'onsubmit': 'return confirm("¿Seguro que deseas eliminar?")'} }) }}
            {{ form_errors(delete_form) }}
            {{ form_row(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
        {{ form_end(delete_form) }}

{% endblock %}
