{% extends '::base.html.twig' %}

{% block title %}CORRESPONSALÍA - REPORTES{% endblock %}

{% block titulobanner %}
    REPORTES
{% endblock %}

{% block titulomodulo %}
    <h1>REPORTE DE AUDITORIA RENDICION</h1>
{% endblock %}
    
{% block body -%}
    {{ parent() }}
    

    <form novalidate method="post" action="{{ path('corresponsalia_creareporteaurendicion') }}">
        {{ form_widget(form._token) }}
        <div class="formShow" style="width:70%;">
            <div class="contenedorform">
                <div class="labelform">Corresponsalía:</div>
                <div class="widgetform">{{ form_widget(form.corresponsalia,{'attr':{'style':'width:250px'}}) }}</div>
            </div>

            <div id="ajax"></div>
        </div>


        <span id="boton" style="display:none;"><input type="submit" value="GENERAR" class="btn btn-primary"> | </span>
        <a class="btn btn-default" href="{{ path('periodorendicion') }}">IR AL LISTADO</a>


    </form>
    <br><br><br>
    
    <script type="text/javascript">
        $(document).ready(function () {

            $('#reporte_corresponsalia').click(function(){
                var dato = $("#reporte_corresponsalia").val();
                var ruta = "{{ path('ajaxreporteauditoriarendicion', {'dato': 'variable','muestra': '2'}) }}";
                ruta = ruta.replace("variable", dato);
                $('#ajax').load(ruta);
                $('#boton').hide();
            });

        });
    </script>
    
{% endblock %}
