<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <title>{% block title %}Corresponsalia{% endblock %}</title>
        {% block javascripts %}
            <script src="{{ asset('js/jquery.js') }}"></script>
            <script src="{{ asset('js/jqueryui.js') }}"></script>
            <script src="{{ asset('js/datatable.js') }}"></script>
            <script src="{{ asset('libs/bootstrap3/js/bootstrap.min.js') }}"></script> 

            <!-- Piwik -->
            <script type="text/javascript">
              var _paq = _paq || [];
              _paq.push(['trackPageView']);
              _paq.push(['enableLinkTracking']);
              (function() {
                var u=(("https:" == document.location.protocol) ? "https" : "http") + "://10.10.4.237/piwik/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', 2]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
                g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
              })();
            </script>
            <noscript><p><img src="http://10.10.4.237/piwik/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
            <!-- End Piwik Code -->

        {% endblock %}

        {% block stylesheets %}
            <link href="{{ asset('css/general.css') }}" rel="stylesheet" type="text/css" />

            <link href="{{ asset('libs/menu/css/menu.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('css/datatable.css') }}" rel="stylesheet" type="text/css"/> 
            <link rel="stylesheet" href="{{ asset('libs/bootstrap3/css/bootstrap.min.css') }}">
            <link href="{{ asset('css/jqueryui.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>

    <body>
        <div align='center'>
            <div class="contenedorprincipal">
                <div id='banner'><img width="100%" src="{{ asset('images/banner.png') }}"></div>
                <div class="titulo-banner">UBICACIÓN ACTUAL: {% block titulobanner %} {% endblock %}</div>
                <div class="menu">{% block menu %}{% endblock %}</div>
                <div id="contenedor">
                    {% block body %}
                            {% include 'CorresponsaliaBundle:Includes:menu.html.twig' %}
                    
                            {% block titulomodulo %}{% endblock %}
                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                <div class="alert alert-success">
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}

                            {% for flashMessage in app.session.flashbag.get('alert') %}
                                <div class="alert alert-danger">
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}

                    {% endblock %}
                    <br>
                </div>
                <footer>
                    <div class="pie">
                        La Nueva Televisión del Sur C.A. (TVSUR) TeleSUR © | Todo el contenido de esta página es exclusivo para el uso interno del canal. RIF. G-20004500-0 
                    </div>
                </footer>
            </div>
        </div>
    </body>
    {% block js_tecnologia %}{% endblock %}
</html>
