{% extends '::base.html.twig' %}

{% block title %}CORRESPONSALÍA - CAMBIO CLAVE{% endblock %}

{% block titulobanner %}
    CAMBIO CLAVE
{% endblock %}

{% block titulomodulo %}
    <h1>CAMBIO DE CLAVE</h1>
{% endblock %}

{% block body %}

    {{ parent() }}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

	<form novalidate action="{{ path('actualizacambioclave') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form._token) }}
        <br>
        <div class="formShow">
            <div class="contenedorform">
            	<div class="text-danger">{{ form_errors(form.claveanterior) }}</div>
                <div class="labelform">Clave anterior:</div>
                <div class="widgetform">{{ form_widget(form.claveanterior) }}</div>
            </div>
            <div class="contenedorform">
            	<div class="text-danger">{{ form_errors(form.clavenueva) }}</div>
                <div class="labelform">Clave nueva:</div>
                <div class="widgetform">{{ form_widget(form.clavenueva) }}</div>
            </div>
            <div class="contenedorform">
            	<div class="text-danger">{{ form_errors(form.claveconfirmacion) }}</div>
                <div class="labelform">Clave confirmación:</div>
                <div class="widgetform">{{ form_widget(form.claveconfirmacion) }}</div>
            </div>
        </div>
    
        <button class="btn btn-danger" type="submit">CAMBIAR CLAVE</button>
      
    </form>


{% endblock %}