{% extends '::base.html.twig' %}

{% block title %}CORRESPONSALÍA - LISTADO USUARIOS{% endblock %}

{% block titulobanner %}
    ADMINISTRACIÓN DE USUARIOS
{% endblock %}

{% block titulomodulo %}
    <h1>LISTA DE USUARIOS</h1>
{% endblock %}
    
{% block body %}
    {{ parent() }}

    <table id="tablalista" style="width: 97%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Estatus</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td><a href="{{ path('user_show', { 'id': entity.user.id }) }}">{{ entity.user.username }}</a></td>
                <td>{{ entity.primernombre }} {{ entity.segundonombre }}</td>
                <td>{{ entity.primerapellido }} {{ entity.segundoapellido }}</td>
                <td>
                    {% if entity.user.isActive == 1 %}
                        Activo
                    {% elseif entity.user.isActive == null %}
                        Inactivo
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('user_show', { 'id': entity.id }) }}"><b class="glyphicon glyphicon-eye-open"></b></a>

                    <a href="{{ path('user_edit', { 'id': entity.id }) }}"><b class="glyphicon glyphicon-edit"></b></a>
           
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><br>

    <a class="btn btn-primary" href="{{ path('user_new') }}">NUEVO USUARIO</a>

    <br><br>

    <script>
    $(document).ready(function(){
       $('#tablalista').dataTable( { //CONVERTIMOS NUESTRO LISTADO DE LA FORMA DEL JQUERY.DATATABLES- PASAMOS EL ID DE LA TABLA
            "sPaginationType": "full_numbers" //DAMOS FORMATO A LA PAGINACION(NUMEROS)
        } );
    })
    </script>

{% endblock %}