{% extends '::base.html.twig' %}

{% block title %}Inicio - Telesur{% endblock %}

{% block titulobanner %}
    ADMINISTRACIÓN DE USUARIOS
{% endblock %}

{% block titulomodulo %}
    <h1>NUEVO USUARIO</h1>
{% endblock %}
    
{% block body %}
{{ parent() }}

{% if form_errors(form.username) or form_errors(form.password) or form_errors(form_perfil.primerNombre) or form_errors(form_perfil.primerApellido) or form_errors(form.rol) %}
<div class="alert alert-danger errores" style="width:70%;">
    <div><b>Alerta! Ha ocurrido un error en el formulario:</b><br><br></div>
    <div>{{ form_errors(form.username) }}</div>
    <div>{{ form_errors(form.password) }}</div>
    <div>{{ form_errors(form_perfil.primerNombre) }}</div>
    <div>{{ form_errors(form_perfil.primerApellido) }}</div>
    <div>{{ form_errors(form.rol) }}</div>
</div>
{% endif %}
    
    <form novalidate action="{{ path('user_create') }}" method="post" {{ form_enctype(form) }} {{ form_enctype(form_perfil) }}>

        {{ form_widget(form._token) }}
        {{ form_widget(form_perfil._token) }}

        <div class="formShow">
            <div class="contenedorform">
                <div class="labelform">Usuario:</div>
                <div class="widgetform">{{ form_widget(form.username) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Clave:</div>
                <div class="widgetform">{{ form_widget(form.password) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Activo:</div>
                <div class="widgetform">{{ form_widget(form.isActive,{'attr':{'checked':'checked'}}) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Primer nombre:</div>
                <div class="widgetform">{{ form_widget(form_perfil.primerNombre) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Segundo nombre:</div>
                <div class="widgetform">{{ form_widget(form_perfil.segundoNombre) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Primer apellido:</div>
                <div class="widgetform">{{ form_widget(form_perfil.primerApellido) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Segundo apellido:</div>
                <div class="widgetform">{{ form_widget(form_perfil.segundoApellido) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Rol:</div>
                <div class="widgetform">{{ form_widget(form.rol) }}</div>
            </div>
        </div>
        <br>

        <button class="btn btn-primary" type="submit">CREAR</button> | 
        <a class="btn btn-default"  href="{{ path('user') }}">IR AL LISTADO</a>
    </form>

    <br>

{% endblock %}
