{% extends '::base.html.twig' %}

{% block title %}CORRESPONSALÍA - DATOS LEGALES POR CORRESPONSAL&Iacute;A{% endblock %}

{% block titulobanner %}
    DATOS LEGALES POR CORRESPONSAL&Iacute;A
{% endblock %}

{% block titulomodulo %}
    <h1>LISTADO DE DATOS LEGALES</h1>
{% endblock %}

    
{% block body -%}
    {{ parent() }}
    <table id="tablalista" style="width: 97%;">
        <thead>
            <tr>
                <th>Corresponsal&iacute;a</th>
                <th>Pais</th>
                <th>Tipo de Corresponsalia</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('datoslegales_show', { 'id': entity.id }) }}">{{ entity.Id }}</a></td>
                <td>{{ entity.pais }}</td>
                <td>{{ entity.tipocorresponsalia }}</td>
                <td>
                    <a href="{{ path('datoslegales_show', { 'id': entity.id }) }}"><b class="glyphicon glyphicon-eye-open"></b></a>
                    <a href="{{ path('datoslegales_edit', { 'id': entity.id }) }}"><b class="glyphicon glyphicon-edit"></b></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br><br>    
    <script>
        $(document).ready(function(){
            $('#tablalista').dataTable( { //CONVERTIMOS NUESTRO LISTADO DE LA FORMA DEL JQUERY.DATATABLES- PASAMOS EL ID DE LA TABLA
                 "sPaginationType": "full_numbers", //DAMOS FORMATO A LA PAGINACION(NUMEROS)
                 "aaSorting": [[0,'desc']],
             } );
         })
    </script>
    {% endblock %}
