{% extends '::base.html.twig' %}

{% block title %}CORRESPONSALÍA - DATOS LEGALES POR CORRESPONSAL&Iacute;A{% endblock %}

{% block titulobanner %}
    DATOS LEGALES POR CORRESPONSAL&Iacute;A
{% endblock %}

{% block titulomodulo %}
    <h1>DETALLE DE DATOS LEGALES</h1>
{% endblock %}

{% block body -%}
    {{ parent() }}

    {% if cont != 0 %}
        <div class="formShow" style="width:80%;">
            <div class="contenedorform">
                <div class="labelform">Corresponsal&iacute;a:</div>
                <div class="widgetform">{{ corresponsalia.nombre }} | {{ corresponsalia.pais }}</div>
            </div>
            
            {% if entity.direccion != NULL %}
                <div class="contenedorform">
                    <div class="labelform">Direcci&oacute;n:</div>
                    <div class="widgetform" style:"width:100%;height:300px;">{{ entity.direccion|capitalize }}</div>
                </div>
            {% else %}
                <div class="contenedorform">
                    <div class="labelform">Direcci&oacute;n:</div>
                    <div class="widgetform">NO POSEE DESCRIPCI&Oacute;N</div>
                </div>
            {% endif %}

            {% if entity.registro != NULL %}
                <div class="contenedorform">
                    <div class="labelform">Datos del Registro:</div>
                    <div class="widgetform" style:"width:100%;height:300px;">{{ entity.registro|capitalize }}</div>
                </div>
            {% else %}
                <div class="contenedorform">
                    <div class="labelform">Datos del Registro:</div>
                    <div class="widgetform">NO POSEE DESCRIPCI&Oacute;N</div>
                </div>
            {% endif %}

            {% if entity.representanteId != NULL %}
                <div class="contenedorform">
                    <div class="labelform">Representante Legal:</div>
                    <div class="widgetform">{{ entity.representanteId }}</div>
                </div>
                {% else %}
                <div class="contenedorform">
                    <div class="labelform">Representante Legal:</div>
                    <div class="widgetform">NO POSEE DESCRIPCI&Oacute;N</div>
                </div>
            {% endif %}
        </div>
        <a class="btn btn-default" href="{{ path('datoslegales_edit', { 'id': corresponsalia.id }) }}">IR A EDITAR</a> |
    {% else %}

        <div class="formShow" style="width:80%;">
            <div class="contenedorform">
                NO EXISTEN DATOS LEGALES ASOCIADOS A ESTA CORRESPONSAL&Iacute;A
            </div>
        </div>
        <a class="btn btn-default" href="{{ path('datoslegales_new', { 'id': corresponsalia.id }) }}">AGREGAR DATOS</a> |

    {% endif %}
    
    <a class="btn btn-default" href="{{ path('datoslegales') }}">IR AL LISTADO</a>
    
    <BR><BR>
    
{% endblock %}
