{% extends '::base.html.twig' %}

{% block title %}CORRESPONSALÍA - DOCUMENTOS{% endblock %}

{% block titulobanner %}
    DOCUMENTOS
{% endblock %}

{% block titulomodulo %}
    <h1>NUEVO DOCUMENTOS</h1>
{% endblock %}
    
{% block body -%}
    {{ parent() }}
    
    {% if form_errors(form.file) or form_errors(form.descripcion) %}
    <div class="alert alert-danger errores" style="width:70%;">
        <div><b>Alerta! Ha ocurrido un error en el formulario:</b><br><br></div>
        <div>{{ form_errors(form.file) }}</div>
        <div>{{ form_errors(form.descripcion) }}</div>
    </div>
    {% endif %}
    

    <form novalidate action="{{ path('documento_create',{'corresponsalia':corresponsalia}) }}" method="post" {{ form_enctype(form) }}>
	{{ form_widget(form._token) }}

		<div class="formShow" style="width:85%;">
		    <div class="contenedorform">
		        <div class="labelform">Corresponsal&iacute;a:</div>
		        <div class="widgetform">{{ nombre_c }}</div>
		    </div>
		    <div class="contenedorform">
                <div class="labelform">Archivo:</div>
                <div class="widgetform">{{ form_widget(form.file) }}</div>
            </div>
		    <div class="contenedorform">
		        <div class="labelform">Descripci&oacute;n del Documento:</div>
		        <div class="widgetform">{{ form_widget(form.descripcion, { 'attr': {'style': 'width:100%;height:100px;'} }) }}</div>
		    </div>
		</div>
		<input type="submit" value="CREAR" class="btn btn-primary"> | 
		<a class="btn btn-default" href="{{ path('documento',{'corresponsalia':corresponsalia}) }}">IR AL HISTORIAL</a>

	</form>
    <br><br>
{% endblock %}
