{% extends '::base.html.twig' %}

{% block title %}CORRESPONSALÍA - NUEVA TASA DE CAMBIO{% endblock %}

{% block titulobanner %}
    NUEVA TASA DE CAMBIO
{% endblock %}

{% block titulomodulo %}
    <h1>NUEVA TASA DE CAMBIO</h1>
{% endblock %}
    
{% block body -%}
    {{ parent() }}

    
    {% if ef==null %}
        <div class="alert alert-warning">ESTE PERIODO AÚN NO TIENE UN FONDO ASIGNADO</div>
    {% endif %}
    
    {% if form_errors(form.montocambiodolar) %}
    <div class="alert alert-danger errores" style="width:50%;">
        <div><b>Alerta! Ha ocurrido un error en el formulario:</b><br><br></div>
        <div>{{ form_errors(form.montocambiodolar) }}</div>
    </div>
    {% endif %}
    
    <form novalidate method="post" action="{{ path('cambio_create', {'idperiodo' : periodo.id}) }}">
        {{ form_widget(form._token) }}
        <div class="formShow" style="width:50%;">
            
            <div class="alert alert-info">Debe colocar el equivalente de su moneda nacional al dólar</div>
            <div class="contenedorform">
                <div class="labelform">Corresponsalía:</div>
                <div class="widgetform">{{ periodo.corresponsalia.nombre|upper }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Tipo gasto:</div>
                <div class="widgetform">{{ periodo.tipogasto.descripcion|upper }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Moneda:</div>
                <div class="widgetform">{{ periodo.corresponsalia.tipomoneda.tipomoneda|upper }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Año:</div>
                <div class="widgetform">{{ periodo.anio }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Mes:</div>
                <div class="widgetform">{{ periodo.mes }}</div>
            </div>
            {% if ef[0] is defined %}
                <div class="contenedorform">
                    <div class="labelform">Saldo inicial:</div>
                    <div class="widgetform"><span class="label label-info">{% if ef[0].saldoinicial %}{{ ef[0].saldoinicial }}{% else %}No asignado{% endif %}</span></div>
                </div>
                <div class="contenedorform">
                    <div class="labelform">Recurso enviado:</div>
                    <div class="widgetform"><span class="label label-info">{{ ef[0].recursorecibido }}</span></div>
                </div>
                <div class="contenedorform">
                    <div class="labelform">Pagos:</div>
                    <div class="widgetform"><span class="label label-danger">{{ ef[0].pagos }}</span></div>
                </div>
                <div class="contenedorform">
                    <div class="labelform">Saldo final:</div>
                    <div class="widgetform"><span class="label label-warning">{{ ef[0].saldofinal }}</span></div>
                </div>
            {% endif %}
            <div class="contenedorform">
                <div class="labelform">Monto Cambio:</div>
                <div class="widgetform">{{ form_widget(form.montocambiodolar) }}</div>
            </div>
        </div>
    
        <input type="submit" value="GUARDAR" class="btn btn-primary"> | 
        <a class="btn btn-def[0]ault" href[0]="{{ path('cambio',{'idperiodo':periodo.id}) }}">VER HISTÓRICO</a>
        
    </form>

{% endblock %}
