{% extends '::base.html.twig' %}

{% block body -%}
    {{ parent() }}

    <h1>TASA DE CAMBIO</h1>
    <h4>{{ corresponsalia.nombre|upper }}</h4><br>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
    
    {% if form_errors(form.montocambiodolar) %}
    <div class="alert alert-danger errores" style="width:50%;">
        <div><b>Alerta! Ha ocurrido un error en el formulario:</b><br><br></div>
        <div>{{ form_errors(form.montocambiodolar) }}</div>
    </div>
    {% endif %}
    
    <form novalidate method="post" action="{{ path('cambio_create', {'idcor' : corresponsalia.id}) }}">
        {{ form_widget(form._token) }}
        <div class="formShow" style="width:50%;">
            <div class="contenedorform">
                <div class="labelform">Monto Cambio:</div>
                <div class="widgetform">{{ form_widget(form.montocambiodolar) }}</div>
            </div>
        </div>
    
        <input type="submit" value="GUARDAR" class="btn btn-primary"> | 
        <a class="btn btn-default" href="{{ path('cambio',{'idcor':corresponsalia.id}) }}">VER HISTÓRICO</a>
        
    </form>

{% endblock %}
