{% extends '::base.html.twig' %}

{% block titulomodulo %}<h1>BITACORA DE ASIGNACIONES</h1>{% endblock %}

{% block body -%}
    {{ parent() }}
    <table id="tablalista" style="width: 97%;">
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Serialequipo</th>
                <th>Descripcion</th>
                <th>Modelo</th>
                <th>Status</th>
                <th>Asignacion</th>
                <th>Corresponsalia</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in listEquipo %}
            <tr>
                <td>{{ entity.categoria }}</td>
                <td>{{ entity.serialEquipo }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.modelo }}</td>
                <td>
                    {% if entity.status %}
                        <span class="label label-success">&nbsp;Activo&nbsp;&nbsp;</span>
                    {% else %}
                        <span class="label label-danger">Inactivo</span>
                    {% endif %}
                </td>
                <td>
                    {% if entity|length > 9 %}
                        {{ entity.statusAsignacion.nombre }}
                    {% endif %}
                </td>
                <td>{% if entity|length > 9 %}{{ entity.corresponsalia.nombre }}{% endif %}</td>
                <td>
                    <a href="{{ path('tecnobitacora_show', { 'id': entity.id_bitacora }) }}"><b class="glyphicon glyphicon-eye-open"></b></a>
                 </td> 
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br><br>
    <script>
    var jQuery = jQuery.noConflict();
    jQuery(document).ready(function(){
        
        jQuery('#tablalista').dataTable( { //CONVERTIMOS NUESTRO LISTADO DE LA FORMA DEL JQUERY.DATATABLES- PASAMOS EL ID DE LA TABLA
             "sPaginationType": "full_numbers", //DAMOS FORMATO A LA PAGINACION(NUMEROS)
             "aaSorting": [[0,'desc']]
         } );

    });
    </script>
    {% endblock %}
