{% extends '::base.html.twig' %}

{% block titulomodulo %}<h1>ASIGNACION EQUIPO - CORRESPONSALIA</h1>{% endblock %}

{% block body -%}
    {{ parent() }}
    <div class="formShow" style="width:80%;">
        <table class='table table-condensed table-bordered table-striped'>
            <caption>Datos Generales del Equipo</caption>
            <tr>
              <td><strong>categoria</strong></td>
              <td><strong>Modelo</strong></td>
              <td><strong>Serial</strong></td>
              <td><strong>Descripcion</strong></td>
            </tr>
            <tr>
              <td>{{ entity.categoria }}</td>
              <td>{{ entity.modelo }}</td>
              <td>{{ entity.idequipo }}</td>
              <td>{{ entity.descripcion }}</td>
            </tr>
        </table>
        <div class="contenedorform">
            <div class="labelform">Tipo de Asignacion:</div>
            <div class="widgetform">{{ entity.tipoAsignacion }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Corresponsalia:</div>
            <div class="widgetform">{{ entity.corresponsalia }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Responsable:</div>
            <div class="widgetform">{{ entity.responsable }}</div>
        </div>
        {% if entity.fechaAsignacion|length > 0 %}
            <div class="contenedorform">
                <div class="labelform">Fecha Asignacion:</div>
                <div class="widgetform">{{ entity.fechaAsignacion|date('d-m-Y') }}</div>
            </div>
        {% endif %}
        <div class="contenedorform">
            <div class="labelform">Fecha Retorno:</div>
            <div class="widgetform">{{ entity.fechaRetorno|date('d-m-Y') }}</div>
        </div>
    </div>
    
    <a class="btn btn-default" href="{{ path('tecnobitacora') }}">IR AL LISTADO</a> 
    <br><br>
{% endblock %}
