{% extends '::base.html.twig' %}

{% block title %}CORRESPONSALÍA - CARGOS{% endblock %}

{% block titulobanner %}
    CARGOS
{% endblock %}

{% block titulomodulo %}
    <h1>DETALLES DEL CARGO</h1>
{% endblock %}
    
{% block body -%}
    {{ parent() }}

    <div class="formShow" style="width:80%;">
        <div class="contenedorform">
            <div class="labelform">Descripcion:</div>
            <div class="widgetform">{{ entity.descripcion }}</div>
        </div>
    </div>
    <a class="btn btn-default" href="{{ path('cargo_edit', { 'id': entity.id }) }}">IR A EDITAR</a> | 
    <a class="btn btn-default" href="{{ path('cargo') }}">IR AL LISTADO</a>

    <BR><BR>
    {{ form_start(delete_form, { 'attr': {'onsubmit': 'return confirm("¿Seguro que deseas eliminar?")'} }) }}
        {{ form_errors(delete_form) }}
        {{ form_row(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
    {{ form_end(delete_form) }}
{% endblock %}