{% extends '::base.html.twig' %}

{% block titulomodulo %}<h1>DESCRIPCIÓN GASTO</h1>{% endblock %}

{% block body -%}
    {{ parent() }}

<table id="tablalista" style="width: 97%">
        <thead>
            <tr>
                <th>Id</th>
                <th width="60%">Descripcion</th>
                <th width="20%">Tipo</th>
                <th width="20%">Partida</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('descripciongasto_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.tipogasto.descripcion }}</td>
                <td>{{ entity.partida }}</td>
                <td>
                    <a href="{{ path('descripciongasto_show', { 'id': entity.id }) }}"><b class="glyphicon glyphicon-eye-open"></b></a>
                    {% if not is_granted('ROLE_CONSULTA') %}
                    <a href="{{ path('descripciongasto_edit', { 'id': entity.id }) }}"><b class="glyphicon glyphicon-edit"></b></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            {% if not is_granted('ROLE_CONSULTA') %}
            <br><br><br><a class="btn btn-default" href="{{ path('descripciongasto_new') }}">
                CREAR NUEVA DESCRIPCIÓN
            </a>
            {% endif %}
            <br><br>

    <script>
        $(document).ready(function(){
            $('#tablalista').dataTable( { //CONVERTIMOS NUESTRO LISTADO DE LA FORMA DEL JQUERY.DATATABLES- PASAMOS EL ID DE LA TABLA
                 "sPaginationType": "full_numbers", //DAMOS FORMATO A LA PAGINACION(NUMEROS)
                 "aaSorting": [[0,'desc']],
             } );
         })
    </script>
    {% endblock %}
