{% extends '::base.html.twig' %}

{% block title %}CORRESPONSALÍA - EDITAR PERÍODO{% endblock %}

{% block titulobanner %}
    EDITAR PERÍODO
{% endblock %}

{% block titulomodulo %}
    <h1>EDITAR PERÍODO</h1>
{% endblock %}
    
{% block body -%}
    {{ parent() }}
    
    {% if form_errors(edit_form.anio) or form_errors(edit_form.mes) or form_errors(edit_form.corresponsalia) or form_errors(edit_form.tipogasto) or error %}
    <div class="alert alert-danger errores" style="width:70%;">
        <div><b>Alerta! Ha ocurrido un error en el edit_formulario:</b><br><br></div>
        <div>{{ form_errors(edit_form.corresponsalia) }}</div>
        <div>{{ form_errors(edit_form.tipogasto) }}</div>
        <div>{{ form_errors(edit_form.anio) }}</div>
        <div>{{ form_errors(edit_form.mes) }}</div>
        {% for e in error %}<div><ul><li>{{ e }}</li></ul></div>{% endfor %}
    </div>
    {% endif %}    
    
    <form novalidate method="post" action="{{ path('periodorendicion_update',{'id':entity.id}) }}">
         <input type="hidden" name="_method" value="PUT"> {{ form_widget(edit_form._token) }}
         <div class="formShow" style="width:70%;">
            <div class="contenedorform">
                <div class="labelform">Corresponsalía:</div>
                <div class="widgetform">{{ form_widget(edit_form.corresponsalia) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Tipo gasto:</div>
                <div class="widgetform">{{ form_widget(edit_form.tipogasto) }}</div>
            </div>
            <div class="contenedorform" style="display: none;" id="cobertura">
                <div class="labelform">Cobertura:</div>
                <div class="widgetform">{{ form_widget(edit_form.cobertura) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Anio:</div>
                <div class="widgetform">{{ form_widget(edit_form.anio) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Mes:</div>
                <div class="widgetform">{{ form_widget(edit_form.mes) }}</div>
            </div>
            <div class="contenedorform" style="display:none;">
                <div class="labelform">Estatus:</div>
                <div class="widgetform">{{ form_widget(edit_form.estatus) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Observación:</div>
                <div class="widgetform">{{ form_widget(edit_form.observacion) }}</div>
            </div>
        </div>
         
        <input type="submit" value="EDITAR" class="btn btn-primary"> | 
        <a class="btn btn-default" href="{{ path('periodorendicion') }}">IR AL LISTADO</a>

    </form>
    
    <BR>
    {{ form_start(delete_form, { 'attr': {'onsubmit': 'return confirm("¿Seguro que deseas eliminar?")'} }) }}
        {{ form_errors(delete_form) }}
        {{ form_row(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
    {{ form_end(delete_form) }}
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#frontend_corresponsaliabundle_periodorendicion_tipogasto').change(function(){
                if($("#frontend_corresponsaliabundle_periodorendicion_tipogasto").val()==2)
                    $("#cobertura").show()
                else
                    $("#cobertura").hide()
            });
            
            if($("#frontend_corresponsaliabundle_periodorendicion_tipogasto").val()==2)
                    $("#cobertura").show()
        });
     </script>
{% endblock %}
