{% extends '::base.html.twig' %}

{% block title %}CORRESPONSALÍA - PERÍODO RENDICIÓN{% endblock %}

{% block titulobanner %}
    PERÍODO RENDICIÓN
{% endblock %}

{% block titulomodulo %}
    
    {% if is_granted('ROLE_RENDICION_CORRESPONSALIA') %}
        <h1> PERÍODO DE RENDICIÓN</h1><h2>{% if entities[0] is defined %} {{entities[0].corresponsalia.nombre|upper}} {% endif %}</h2>
    {% elseif is_granted('ROLE_RENDICION_ADMIN') %}
        <h1> PERÍODO DE ASIGNACIÓN DE FONDOS</h1>
    {% endif %}
{% endblock %}
    
    
{% block body -%}
    {{ parent() }}
    <br><table id="tablalista" style="width: 97%;" cellpadding="5px">
        <thead>
            <tr>
                <th>Id</th>
                <th style="width: 5%">Anio</th>
                <th style="width: 5%">Mes</th>
                <th style="width: 30%">Corresponsalía</th>
                <th>Tipo gasto</th>
                <th>Cobertura</th>
                <th>Estatus</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('periodorendicion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.anio }}</td>
                <td>{{ entity.mes }}</td>
                <td>{{ entity.corresponsalia.nombre }}</td>
                <td>{{ entity.tipogasto.descripcion }}</td>
                <td>{% if entity.tipogasto.id==2 %}{{ entity.cobertura|capitalize }}{% else %}N/A{% endif %}</td>
                <td>
                    {% if entity.estatus==1 %}
                        <span class="label label-info">Abierto</span>
                    {% elseif entity.estatus==2 %}
                        <span class="label label-warning">Enviado para revisión</span>
                    {% elseif entity.estatus==3 %}
                        <span class="label label-danger">Devuelto para corrección</span>
                    {% elseif entity.estatus==4 %}
                        <span class="label label-success">Cerrado</span>
                    {% endif %}
                </td>
                <td>
                    
                    
                        {% if is_granted('ROLE_RENDICION_CORRESPONSALIA') %}
                    
                            {% if entity.estatus==1 or entity.estatus==3 %}
                            <a href="{{ path('corresponsalia_rendirgasto', {'idperiodo':entity.id}) }}"><b class="text-warning">RENDIR</b></a>
                            {% else %}
                            <a href="{{ path('reporte_excelrendicion',{'idperiodo':entity.id}) }}"><img width="25px;" src="{{ asset('images/excel.png') }}"></a>

                            {% endif %}
                                
                        {% endif %}
                        
                        {% if is_granted('ROLE_RENDICION_ADMIN') %}
                            {% if entity.estatus!=4 %}
                                | <a href="{{ path('periodorendicion_show', { 'id': entity.id }) }}"><b class="glyphicon glyphicon-eye-open"></b></a> | 
                                <a href="{{ path('periodorendicion_edit', { 'id': entity.id }) }}"><b class="glyphicon glyphicon-edit"></b></a> |  
                                <a href="{{ path('estadofondo_new', {'idperiodo':entity.id}) }}"><b class="text-warning">FONDOS</b></a>
                                {% else %}
                                <b>CULMINADO</b> | 
                                <a href="{{ path('reporte_excelrendicion',{'idperiodo':entity.id}) }}"><img width="25px;" src="{{ asset('images/excel.png') }}"></a>
                            {% endif %}
                        {% endif %}

                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><br><br>
    {% if is_granted('ROLE_RENDICION_ADMIN') %}
    <a class="btn btn-primary" href="{{ path('periodorendicion_new') }}">NUEVO PERÍODO</a>
    <br><br>
    {% endif %}
    

    <script>
    $(document).ready(function(){
       $('#tablalista').dataTable( { //CONVERTIMOS NUESTRO LISTADO DE LA FORMA DEL JQUERY.DATATABLES- PASAMOS EL ID DE LA TABLA
            "sPaginationType": "full_numbers", //DAMOS FORMATO A LA PAGINACION(NUMEROS)
            "aaSorting": [[5,'asc'],[1,'asc'],[2,'asc']],
        } );
    })
    </script>
    {% endblock %}
