{% extends '::base.html.twig' %}

{% block title %}CORRESPONSALÍA - EDITAR ROL{% endblock %}

{% block titulobanner %}
    EDITAR ROL
{% endblock %}

{% block titulomodulo %}
    <h1>EDITAR ROL</h1>
{% endblock %}


{% block body %}
{{ parent() }}

{% if form_errors(edit_form.rol) %}
<div class="alert alert-danger errores" style="width:70%;">
    <div><b>Alerta! Ha ocurrido un error en el formulario:</b><br><br></div>
    <div>{{ form_errors(edit_form.rol) }}</div>
</div>
{% endif %}
    
<form novalidate action="{{ path('rol_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    
    {{ form_widget(edit_form._token) }}

     <div class="formShow">
        <div class="contenedorform">
            <div class="text-error">{{ form_errors(edit_form.rol) }}</div>
            <div class="labelform">Rol:</div>
            <div class="widgetform">{{ form_widget(edit_form.rol) }}</div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">EDITAR</button> | 

        <a class="btn btn-default" href="{{ path('rol') }}">
            IR AL LISTADO
        </a>
</form>


        <form action="{{ path('rol_delete', { 'id': entity.id }) }}" method="post" onsubmit="return confirm('Seguro que desea eliminar')">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">BORRAR</button>
        </form>


{% endblock %}
