{% extends '::base.html.twig' %}

{% block title %}CORRESPONSALÍA - NUEVO ROL{% endblock %}

{% block titulobanner %}
    NUEVO ROL
{% endblock %}

{% block titulomodulo %}
    <h1>NUEVO ROL</h1>
{% endblock %}

{% block body %}
	{{ parent() }}

{% if form_errors(form.rol) or form_errors(form.descripcion) %}
<div class="alert alert-danger errores" style="width:70%;">
    <div><b>Alerta! Ha ocurrido un error en el formulario:</b><br><br></div>
    <div>{{ form_errors(form.rol) }}</div>
    <div>{{ form_errors(form.descripcion) }}</div>
</div>
{% endif %}
    
	<form novalidate action="{{ path('rol_create') }}" method="post" {{ form_enctype(form) }}>

		{{ form_widget(form._token) }}


     <div class="formShow">
        <div class="contenedorform">
            <div class="labelform">Rol:</div>
            <div class="widgetform">{{ form_widget(form.rol) }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Descripcion:</div>
            <div class="widgetform">{{ form_widget(form.descripcion) }}</div>
        </div>
     </div>
     <br>

	        <button class="btn btn-primary" type="submit">CREAR</button>
	    	<a class="btn btn-default"  href="{{ path('rol') }}">IR AL LISTADO</a>
	</form>

{% endblock %}