{% extends '::base.html.twig' %}

{% block titulomodulo %}<h1>REASIGNAR EQUIPO - CORRESPONSALIA</h1>{% endblock %}

{% block body -%}
    {{ parent() }}
    
    <form novalidate method="post" action="">
         <input type="hidden" name="_method" value="PUT"> {{ form_widget(assign_form._token) }}
         <div class="formShow" style="width:70%;">
            <div class="contenedorform">
                <div class="labelform">serial Equipo:</div>
                    <div class="widgetform">
                        <input value="{{ equipo.serialEquipo }}" id="frontend_corresponsaliabundle_tecnologia_equipo_serialEquipo" type="text" maxlength="255" required="required" name="frontend_corresponsaliabundle_tecnologia_equipo[serialEquipo]">
                    </div>
            </div>
            {% if is_granted('ROLE_TECNO_ADMIN') %}
                <div class="contenedorform">
                    <div class="labelform">descripcion++++:</div>
                    <div class="widgetform">{{ form_widget(assign_form.corresponsalia) }}</div>
                </div>
            {% else %}
                <div class="contenedorform">
                    <div class="labelform">descripcion******:</div>
                    <div class="widgetform">{{ form_widget(assign_form.corresponsalia) }}</div>
                </div>
            {% endif %}
         </div>
        <input type="submit" value="EDITAR" class="btn btn-primary"> |
        <a class="btn btn-default" href="{{ path('tecnoequipo') }}">IR AL LISTADO</a>
    </form>

    <BR>
{% endblock %}
