{% extends '::base.html.twig' %}

{% block titulomodulo %}<h1>EDITAR MODELO</h1>{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/corresponsalia/Tecnologia/libs/select2/select2.css') }}"/>
    <style type="text/css">
        .select2-container .select2-choice > .select2-chosen {
            min-width: 164px !important;
        }
    </style>
{% endblock %}  
  
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/corresponsalia/Tecnologia/js/effects.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/corresponsalia/Tecnologia/libs/select2/select2.min.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() { jQuery(".autocomplete_select").select2(); });
    </script>
{% endblock %}

{% block body -%}
    {{ parent() }}
    
    {% for type, flashMessage in app.session.flashbag.all() %}
        <div class="alert alert-{{ type }} fade in">
            <button class="close" data-dismiss="alert" type="button">×</button>
            {% if flashMessage.title is defined %}
            <strong>{{ flashMessage.title }}</strong>
            {{ flashMessage.message }}
            {% else %}
            {{ type }}
            {% endif %}
        </div>
    {% endfor %}

    {% if form_errors(edit_form.nombre)%}
    <div class="alert alert-danger errores" style="width:70%;">
        <div><b>Alerta! Ha ocurrido un error en el formulario:</b><br><br></div>
        <div>{{ form_errors(edit_form.nombre) }}</div>
    </div>
    {% endif %}
    
    <form novalidate method="post" action="{{ path('tecnomodelo_update',{'id':entity.id}) }}">
         <input type="hidden" name="_method" value="PUT"> {{ form_widget(edit_form._token) }}
         <div class="formShow" style="width:70%;">
             <div class="contenedorform">
                <div class="labelform">Marca:</div>
                <div class="widgetform">{{ form_widget(edit_form.marca, {'attr': {'class': 'autocomplete_select'} } ) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Modelo:</div>
                <div class="widgetform">{{ form_widget(edit_form.nombre, {'attr': {'class': 'strtoupper'} } ) }}</div>
            </div>
         </div>
        <input type="submit" value="EDITAR" class="btn btn-primary"> | 
        <a class="btn btn-default" href="{{ path('tecnomodelo_show',{'id':entity.id}) }}">IR A CONSULTA</a> | 
        <a class="btn btn-default" href="{{ path('tecnomodelo') }}">IR AL LISTADO</a>
    </form>

    <BR>
    {{ form_start(delete_form, { 'attr': {'onsubmit': 'return confirm("¿Seguro que deseas eliminar?")'} }) }}
        {{ form_errors(delete_form) }}
        {{ form_row(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
    {{ form_end(delete_form) }}
{% endblock %}
