{% extends '::base.html.twig' %}

{% block titulomodulo %}<h1>LISTADO DE MODELO</h1>{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/corresponsalia/Tecnologia/css/tecno_general.css') }}"/>
{% endblock %}

{% block body -%}
    {{ parent() }}
    
    <table id="tablalista" class="table table-bordered table-condensed" style="width: 97%;">
        <thead>
            <tr>
                <th>MARCA</th>
                <th>MODELO</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td class="indentar_texto_tabular">{{ entity.marca|capitalize }}</td>
                <td class="indentar_texto_tabular">{{ entity.nombre|capitalize }}</td>
                <td>
                    <a class="indentar_enlace" href="{{ path('tecnomodelo_show', { 'id': entity.id }) }}"><b class="glyphicon glyphicon-eye-open"></b></a>
                    <a class="indentar_enlace" href="{{ path('tecnomodelo_edit', { 'id': entity.id }) }}"><b class="glyphicon glyphicon-edit"></b></a>
                 </td> 
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><br><a class="btn btn-primary" href="{{ path('tecnomodelo_new') }}">
          NUEVO MODELO
    </a><br><br>

    <script>
        $(document).ready(function(){
            $('#tablalista').dataTable( { //CONVERTIMOS NUESTRO LISTADO DE LA FORMA DEL JQUERY.DATATABLES- PASAMOS EL ID DE LA TABLA
                 "sPaginationType": "full_numbers", //DAMOS FORMATO A LA PAGINACION(NUMEROS)
                 "aaSorting": [[0,'asc'], [1,'asc']]
             } );
         });
    </script>
    {% endblock %}
