{% extends '::base.html.twig' %}

{% block titulomodulo %}<h1>EQUIPO</h1>{% endblock %}

{% block body -%}
    {{ parent() }}
    

    <div class="formShow" style="width:80%;">
        <div class="contenedorform">
            <div class="labelform">Id:</div>
            <div class="widgetform">{{ entity.id }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">NOMBRE:</div>
            <div class="widgetform">{{ entity.nombre }}</div>
        </div>
        <div class="contenedorform">
                <div class="labelform">Marca:</div>
                <div class="widgetform">{{ form_widget(form.marca) }}</div>
            </div>
    </div>

    <a class="btn btn-default" href="{{ path('tecnomodelo_edit', { 'id': entity.id }) }}">IR A EDITAR</a> | 
    <a class="btn btn-default" href="{{ path('tecnomodelo') }}">IR AL LISTADO</a>
  
    <BR><BR>
    {{ form_start(delete_form, { 'attr': {'onsubmit': 'return confirm("¿Seguro que deseas eliminar?")'} }) }}
        {{ form_errors(delete_form) }}
        {{ form_row(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
    {{ form_end(delete_form) }}
    

{% endblock %}
