{% extends '::base.html.twig' %}

{% block body -%}
    {{ parent() }}

    <h1>Moneda lista</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Monedanacional</th>
                <th>Valormonedanacional</th>
                <th>Montocambiodolar</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('moneda_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.monedanacional }}</td>
                <td>{{ entity.valormonedanacional }}</td>
                <td>{{ entity.montocambiodolar }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('moneda_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('moneda_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


        <br>br><a href="{{ path('moneda_new') }}">
            Create a new entry
        </a>


        <script>
            $(document).ready(function(){
                $('#tablalista').dataTable( { //CONVERTIMOS NUESTRO LISTADO DE LA FORMA DEL JQUERY.DATATABLES- PASAMOS EL ID DE LA TABLA
                     "sPaginationType": "full_numbers", //DAMOS FORMATO A LA PAGINACION(NUMEROS)
                     "aaSorting": [[0,'desc']],
                 } );
             })


    </script>
    {% endblock %}
