{% extends '::base.html.twig' %}

{% block titulomodulo %}
    <h1>EDITAR ESTADO FONDO</h1>
    <h4>CORRESPONSALÍA: {{ entity.periodorendicion.corresponsalia.nombre|upper }} | PAÍS: {{ entity.periodorendicion.corresponsalia.pais.pais|upper }} | AÑO: {{ entity.periodorendicion.anio }} | MES: {{ entity.periodorendicion.mes}} </h4><br>
{% endblock %}
    
{% block body -%}
    {{ parent() }}

    {% if form_errors(edit_form.recursorecibido) %}
    <div class="alert alert-danger errores" style="width:70%;">
        <div><b>Alerta! Ha ocurrido un error en el formulario:</b><br><br></div>
        <div>{{ form_errors(edit_form.recursorecibido) }}</div>
    </div>
    {% endif %}

    <form novalidate method="post" action="{{ path('estadofondo_update',{'id':entity.id}) }}">
         <input type="hidden" name="_method" value="PUT"> {{ form_widget(edit_form._token) }}
         <div class="formShow" style="width:70%;">
            <div class="contenedorform">
                <div class="labelform">Saldo inicial:</div>
                <div class="widgetform">{{ form_widget(edit_form.saldoinicial) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Recurso enviado:</div>
                <div class="widgetform">{{ form_widget(edit_form.recursorecibido) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Observación:</div>
                <div class="widgetform">{{ form_widget(edit_form.observacion) }}</div>
            </div>
        </div>
         
        <input type="submit" value="EDITAR" class="btn btn-primary"> | 
        <a class="btn btn-default" href="{{ path('estadofondo_show',{'id':entity.id}) }}">IR A CONSULTA</a> {#| 
        <a class="btn btn-default" href="{{ path('estadofondo',{'idperiodo':entity.periodorendicion.id}) }}">IR AL LISTADO DE FONDOS</a>#}

        {{ form_widget(edit_form.fechaasignacion,{'attr':{'style':'display:none'}}) }}
    </form>
    
    <BR>
    {{ form_start(delete_form, { 'attr': {'onsubmit': 'return confirm("¿Seguro que deseas eliminar?")'} }) }}
        {{ form_errors(delete_form) }}
        {{ form_row(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
    {{ form_end(delete_form) }}

{% endblock %}
