{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Estadofondo list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Saldoinicial</th>
                <th>Recursorecibido</th>
                <th>Anio</th>
                <th>Mes</th>
                <th>Saldofinal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('estadofondo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.saldoinicial }}</td>
                <td>{{ entity.recursorecibido }}</td>
                <td>{{ entity.anio }}</td>
                <td>{{ entity.mes }}</td>
                <td>{{ entity.saldofinal }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('estadofondo_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('estadofondo_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('estadofondo_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
