{% extends '::base.html.twig' %}

{% block titulomodulo %}  
    <h1>ASIGNACIÓN DE FONDOS</h1>
    <h4>CORRESPONSALÍA: {{ periodo.corresponsalia.nombre|upper }} | PAÍS: {{ periodo.corresponsalia.pais.pais|upper }} | AÑO: {{ periodo.anio }} | MES: {{ periodo.mes}} </h4><br>
{% endblock %}

{% block body -%}
    {{ parent() }}

    {% if form_errors(form.recursorecibido) or form_errors(form.saldoinicial)%}
    <div class="alert alert-danger errores" style="width:70%;">
        <div><b>Alerta! Ha ocurrido un error en el formulario:</b><br><br></div>
        <div>{{ form_errors(form.recursorecibido) }}</div>
        <div>{{ form_errors(form.saldoinicial) }}</div>
    </div>
    {% endif %}
    
    <form novalidate method="post" action="{{ path('estadofondo_create',{'idperiodo':periodo.id}) }}">
        {{ form_widget(form._token) }}
        <div class="formShow" style="width:70%;">
            <div class="contenedorform">
                <div class="labelform">Saldo inicial:</div>
                <div class="widgetform">{{ form_widget(form.saldoinicial) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Recurso enviado:</div>
                <div class="widgetform">{{ form_widget(form.recursorecibido) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Observación:</div>
                <div class="widgetform">{{ form_widget(form.observacion) }}</div>
            </div>
        </div>
    
        <input type="submit" value="GUARDAR" class="btn btn-primary"> | 
        <a class="btn btn-default" href="{{ path('estadofondo_aniomes') }}">SELECCIONAR OTROS PARÁMETROS</a> {#| 
        <a class="btn btn-default" href="{{ path('estadofondo',{'idperiodo':periodo.id}) }}">IR AL LISTADO DE FONDOS</a>#}
    </form>

{% endblock %}
