{% extends '::base.html.twig' %}

{% block titulomodulo %}  
    <h1>ASIGNACIÓN DE FONDOS</h1>
{% endblock %}

{% block body -%}
    {{ parent() }}

    {% if form_errors(form.recursorecibido) or form_errors(form.saldoinicial) or form_errors(form.observacion) %}
    <div class="alert alert-danger errores" style="width:70%;">
        <div><b>Alerta! Ha ocurrido un error en el formulario:</b><br><br></div>
        <div>{{ form_errors(form.saldoinicial) }}</div>        
        <div>{{ form_errors(form.recursorecibido) }}</div>
        <div>{{ form_errors(form.observacion) }}</div>
    </div>
    {% endif %}
    
    {% if cobertura.id is defined %}
        {% set idcobertura=cobertura.id %}
    {% else %}
        {% set idcobertura=0 %}
    {% endif %}
    
    <form novalidate method="post" action="{{ path('estadofondo_create',{'idperiodo':periodo.id}) }}">
        {{ form_widget(form._token) }}
        <div class="formShow" style="width:70%;">
            <div class="contenedorform">
                <div class="labelform">Corresponsalía:</div>
                <div class="widgetform">{{ periodo.corresponsalia.nombre|upper }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Tipo gasto:</div>
                <div class="widgetform">{{ periodo.tipogasto.descripcion|upper }}</div>
            </div>
            {% if periodo.tipogasto.id==2 %}
            <div class="contenedorform">
                <div class="labelform">Cobertura:</div>
                <div class="widgetform">{{ periodo.cobertura|upper }}</div>
            </div>
            {% endif %}
            <div class="contenedorform">
                <div class="labelform">País:</div>
                <div class="widgetform">{{ periodo.corresponsalia.pais.pais|upper }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Año:</div>
                <div class="widgetform">{{ periodo.anio|upper }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Mes:</div>
                <div class="widgetform">{{ periodo.mes|upper }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Saldo inicial:</div>
                <div class="widgetform">{{ form_widget(form.saldoinicial) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Recurso enviado:</div>
                <div class="widgetform">{{ form_widget(form.recursorecibido) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Observación:</div>
                <div class="widgetform">{{ form_widget(form.observacion) }}</div>
            </div>
        </div>
    
        <input type="submit" value="GUARDAR" class="btn btn-primary"> | 
        <a class="btn btn-default" href="{{ path('periodorendicion') }}">IR AL LISTADO DE PERÍODOS</a> {#| 
        <a class="btn btn-default" href="{{ path('estadofondo',{'idperiodo':periodo.id}) }}">IR AL LISTADO DE FONDOS</a>#}
    </form>

{% endblock %}
