{% extends '::base.html.twig' %}

{% block titulomodulo %}<h1>Estado Fondo</h1>{% endblock %}

{% block body -%}
    {{ parent() }}
       
    <div class="formShow" style="width:80%;">
        <div class="contenedorform">
            <div class="labelform">Id Periodo:</div>
            <div class="widgetform">{{ entity.periodorendicion.id }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Corresponsalia:</div>
            <div class="widgetform">{{ entity.periodorendicion.corresponsalia.nombre|upper }}</div>
        </div>
            <div class="contenedorform">
                <div class="labelform">País:</div>
                <div class="widgetform">{{ entity.periodorendicion.corresponsalia.pais.pais|upper }}</div>
            </div>
        <div class="contenedorform">
            <div class="labelform">Tipo gasto:</div>
            <div class="widgetform">{{ entity.periodorendicion.tipogasto.descripcion|upper }}</div>
        </div>
        
        {% if entity.periodorendicion.descripcionperiodo!='' %}
        <div class="contenedorform">
            <div class="labelform">Descripción Período:</div>
            <div class="widgetform">{{ entity.periodorendicion.descripcionperiodo|upper }}</div>
        </div>
        {% endif %}
        
        <div class="contenedorform">
            <div class="labelform">Año:</div>
            <div class="widgetform">{{ entity.periodorendicion.anio }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Mes:</div>
            <div class="widgetform">{{ entity.periodorendicion.mes }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Saldo inicial:</div>
            <div class="widgetform"><span class="label label-info">{% if entity.saldoinicial %}{{ entity.saldoinicial }}{% else %}No asignado{% endif %}</span></div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Recurso enviado:</div>
            <div class="widgetform"><span class="label label-info">{{ entity.recursorecibido }}</span></div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Pagos:</div>
            <div class="widgetform"><span class="label label-danger">{{ entity.pagos }}</span></div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Saldo final:</div>
            <div class="widgetform"><span class="label label-warning">{{ entity.saldofinal }}</span></div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Fecha de registro:</div>
            <div class="widgetform">{{ entity.fechaasignacion|date('d-m-Y') }}</div>
        </div>
        <div class="contenedorform">
            <div class="labelform">Responsale:</div>
            <div class="widgetform">{{ entity.responsable.primerNombre|title }} {{ entity.responsable.primerApellido|title }}</div>
        </div>
        {% if entity.observacion %}
        <div class="contenedorform">
            <div class="labelform">Observación:</div>
            <div class="widgetform">{{ entity.observacion|capitalize }}</div>
        </div>
        {% endif %}
    </div>
    
    <a class="btn btn-default" href="{{ path('estadofondo_edit', { 'id': entity.id }) }}">IR A EDITAR</a> | 
    <a class="btn btn-default" href="{{ path('periodorendicion') }}">IR AL LISTADO DE PERÍODOS</a>{#| 
    <a class="btn btn-default" href="{{ path('estadofondo',{'idperiodo':entity.periodorendicion.id}) }}">IR AL LISTADO DE FONDOS</a>#}
  
    <BR><BR>
    {{ form_start(delete_form, { 'attr': {'onsubmit': 'return confirm("¿Seguro que deseas eliminar?")'} }) }}
        {{ form_errors(delete_form) }}
        {{ form_row(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
    {{ form_end(delete_form) }}

{% endblock %}
